{% extends 'base.html' %}

{% block content %}
{{ super() }}
<div class="col-md-7" style="margin-left: auto; margin-right: auto; margin-top:2%; margin-bottom:10%;">
    <div class="card" style="border-radius: 5px">
        <div class="card-header"><h1 class="h3 mb-0 font-weight-normal">Список статей</h1></div>
        <div class="card-body">
            <ul class="list-posts">
                {% for p in posts %}
                <li>
                    <p class="title1"><a href="{{ url_for('showPost', alias=p.url)}}">{{p.title}}</a></p>
                    <p class="annonce">{{ p.text[:50] | striptags }}</p>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
